@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #000;
}

input[type="checkbox"] {
  border: 1px solid #fff;
  accent-color: #fff;
  color: #000;
}

.home-page{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.btn{
  border: none;
  padding: 10px;
  background-color: #fff;
  color: #000;
  display: block;
  width: 200px;
  margin: 25px 0px 25px 0px;
  transition: 0.3s;
  cursor: pointer;
  border: solid 1px #fff;
}

.btn:hover{
  background-color: #000;
  color: #fff;
  border: solid 1px #fff;
}

.password-result{
  padding: 10px 10px 10px 20px;
  border-left: solid 2px #fff;
  display: block;
  cursor: copy;
  transition: 0.2s;
  position:relative;
}

.password-result:hover{
  background-color: #121212;
}

.password-result:active{
  background-color: #fff;
  color: #000;
}