@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #000;
}

.home-page{
  display: flex;
  width: 100vw;
  height: 100vh;
}

.btn{
  border: none;
  padding: 10px;
  background-color: #3a53d0;
  color: white;
  display: block;
  width: 200px;
  margin: 25px 0px 25px 0px;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover{
  background-color: #2b597f;

}

.password-result{
  padding: 10px 10px 10px 20px;
  border: solid 2px #3a53d0;
  display: block;
  cursor: copy;
  transition: 0.2s;
  position:relative;
}

.password-result:active{
  background-color: #2b597f;
}
